.desktop-4-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 81px;
  }
  .about-us,
  .contact-us,
  .home,
  .sponsors {
    width: 69px;
    position: relative;
    display: inline-block;
    height: 30px;
    flex-shrink: 0;
  }
  .about-us,
  .contact-us,
  .sponsors {
    width: 108px;
  }
  .contact-us,
  .sponsors {
    width: 111px;
  }
  .contact-us {
    width: 135px;
  }
  .home-parent {
    position: absolute;
    top: 26px;
    left: 906px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 22px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
  }
  .phpd9vmrv-3-icon {
    position: absolute;
    top: 81px;
    left: 0;
    width: 1440px;
    height: 539px;
    object-fit: cover;
  }
  .description,
  .title {
    position: absolute;
    left: 443px;
    display: none;
    text-align: center;
    width: 520px;
  }
  .description {
    top: 217px;
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .title {
    top: 110px;
    font-size: 40px;
    line-height: 48px;
  }
  .desktop-4-item {
    position: absolute;
    top: 620px;
    left: 0;
    background-color: var(--color-gainsboro-300);
    width: 1440px;
    height: 642px;
  }
  .about-us1,
  .welcome-to-fundsling {
    position: absolute;
    line-height: 48px;
  }
  .about-us1 {
    top: 667px;
    left: 76px;
    font-size: var(--font-size-17xl);
    font-weight: 600;
    text-align: center;
  }
  .welcome-to-fundsling {
    top: 715px;
    left: 762px;
    font-size: 32px;
    display: inline-block;
    width: 633px;
    height: 414px;
  }
  .previous-events {
    position: absolute;
    top: 1292px;
    left: 71px;
    font-size: var(--font-size-17xl);
    line-height: 48px;
    font-weight: 600;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    background: linear-gradient(0deg, #bacddb, #737373);
    width: 307px;
    height: 407px;
  }
  .annual-event,
  .organised-by-,
  .svkm-iot-dhule {
    position: absolute;
    top: 337px;
    left: 121px;
    line-height: 28px;
    font-weight: 600;
  }
  .annual-event,
  .organised-by- {
    left: 7px;
  }
  .annual-event {
    top: 186px;
    left: 95px;
    font-size: var(--font-size-xl);
    line-height: 48px;
  }
  .anual-event-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-sm);
    width: 307px;
    height: 194px;
    object-fit: cover;
  }
  .get-ready-for {
    margin: 0;
  }
  .get-ready-for-container {
    position: absolute;
    top: 234px;
    left: 7px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    width: 300px;
  }
  .rectangle-parent {
    position: absolute;
    top: 1370px;
    left: 71px;
    width: 307px;
    height: 407px;
    font-size: var(--font-size-base);
  }
  .rcpatel-college-of {
    position: absolute;
    top: 337px;
    left: 121px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    width: 186px;
  }
  .workshop-webinar {
    position: absolute;
    top: 186px;
    left: 57px;
    font-size: var(--font-size-xl);
    line-height: 48px;
    font-weight: 600;
  }
  .rectangle-group {
    position: absolute;
    top: 1370px;
    left: 757px;
    width: 307px;
    height: 407px;
    font-size: var(--font-size-base);
  }
  .gear-up-for {
    position: absolute;
    top: 234px;
    left: 7px;
    line-height: 25px;
    font-weight: 600;
    display: inline-block;
    width: 300px;
    height: 103px;
  }
  .rectangle-container {
    position: absolute;
    top: 1370px;
    left: 414px;
    width: 307px;
    height: 407px;
    font-size: var(--font-size-base);
  }
  .sakec-college-of {
    position: absolute;
    top: 337px;
    left: 121px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    width: 194px;
  }
  .group-div {
    position: absolute;
    top: 1370px;
    left: 1088px;
    width: 315px;
    height: 407px;
    font-size: var(--font-size-base);
  }
  .ede8e02e7fbbfcc86660f1-2023021-icon,
  .event-management-workshop-8-2-icon,
  .sports-2019-20-3-1-icon {
    position: absolute;
    top: 1370px;
    left: 414px;
    border-radius: var(--br-sm);
    width: 307px;
    height: 194px;
    object-fit: cover;
  }
  .ede8e02e7fbbfcc86660f1-2023021-icon,
  .event-management-workshop-8-2-icon {
    left: 757px;
  }
  .ede8e02e7fbbfcc86660f1-2023021-icon {
    left: 1088px;
  }
  .desktop-4-inner {
    position: absolute;
    top: 1806px;
    left: 0;
    background-color: #ddd1d1;
    width: 1440px;
    height: 931px;
  }
  .feedback,
  .sponsors1,
  .upcoming-events {
    position: absolute;
    top: 1837px;
    left: 71px;
    font-size: var(--font-size-17xl);
    line-height: 28px;
    font-weight: 600;
  }
  .feedback,
  .sponsors1 {
    top: 2769px;
    left: 70px;
  }
  .feedback {
    top: 3256px;
    left: 69px;
  }
  .file-1-icon {
    position: absolute;
    top: 1925px;
    left: 71px;
    border-radius: var(--br-sm);
    width: 570px;
    height: 351px;
    object-fit: cover;
  }
  .learn-more-,
  .learn-more-1,
  .learn-more-2,
  .learn-more-3 {
    position: absolute;
    top: 2276px;
    left: 287px;
    line-height: 28px;
    font-weight: 600;
  }
  .learn-more-1,
  .learn-more-2,
  .learn-more-3 {
    top: 2681px;
  }
  .learn-more-2,
  .learn-more-3 {
    top: 2276px;
    left: 1023px;
  }
  .learn-more-3 {
    top: 2681px;
    left: 1032px;
  }
  .download-1-icon,
  .sports-background-internationa-icon {
    position: absolute;
    top: 1925px;
    left: 790px;
    border-radius: var(--br-sm);
    width: 609px;
    height: 351px;
    object-fit: cover;
  }
  .sports-background-internationa-icon {
    top: 2364px;
    left: 71px;
    width: 570px;
    height: 317px;
  }
  .darshya-icon,
  .imgpanda-premium-ew3yms-1-icon {
    position: absolute;
    top: 8px;
    left: 71px;
    width: 213px;
    height: 65px;
    object-fit: cover;
  }
  .imgpanda-premium-ew3yms-1-icon {
    top: 726px;
    width: 632px;
    height: 373px;
  }
  .description1,
  .title1 {
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 520px;
  }
  .description1 {
    top: 225px;
    left: 447px;
    font-size: var(--font-size-base);
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-hind);
    color: var(--color-darkslategray);
  }
  .title1 {
    top: 123px;
    left: 455px;
    font-size: var(--font-size-28xl);
    line-height: 48px;
    font-family: var(--font-impact);
    background: linear-gradient(186.79deg, #006aa5, #00283f 78.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .robowars-1-icon {
    position: absolute;
    top: 2344px;
    left: 795px;
    width: 600px;
    height: 337px;
    object-fit: cover;
  }
  .desktop-4-child1 {
    position: absolute;
    top: 2857px;
    left: 71px;
    border-radius: var(--br-sm);
    background-color: var(--color-gainsboro-300);
    width: 362px;
    height: 328px;
  }
  .group-icon {
    position: absolute;
    top: 2857px;
    left: 69px;
    width: 364px;
    height: 219px;
    object-fit: cover;
  }
  .group-child1,
  .logo-tata-motors-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 362px;
  }
  .group-child1 {
    border-radius: var(--br-sm);
    background-color: var(--color-gainsboro-300);
    height: 328px;
  }
  .logo-tata-motors-1-icon {
    height: 212px;
    object-fit: cover;
  }
  .div {
    position: absolute;
    top: 272px;
    left: 209px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    width: 77px;
    height: 22.1px;
  }
  .div1,
  .rectangle-parent1 {
    position: absolute;
    top: 2857px;
    left: 552px;
    width: 362px;
    height: 328px;
  }
  .div1 {
    top: 273px;
    left: 210px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    width: 77px;
    height: 22.1px;
  }
  .group-child4 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 362px;
    height: 212px;
  }
  .r-1-icon {
    position: absolute;
    top: 57px;
    left: 36px;
    width: 289px;
    height: 124.9px;
    object-fit: cover;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 2857px;
    left: 1032px;
    width: 362px;
    height: 328px;
  }
  .event-name- {
    position: absolute;
    left: 71px;
    line-height: 28px;
    font-weight: 600;
  }
  .event-name-,
  .event-name-codevita,
  .event-name-coding {
    top: 3094px;
    display: inline-block;
    width: 248px;
  }
  .event-name-codevita {
    position: absolute;
    left: 552px;
    line-height: 28px;
    font-weight: 600;
  }
  .event-name-coding {
    left: 1033px;
  }
  .event-name-coding,
  .sponsorship-amount-,
  .technohack {
    position: absolute;
    line-height: 28px;
    font-weight: 600;
  }
  .technohack {
    top: 3094px;
    left: 188px;
    display: inline-block;
    width: 245px;
  }
  .sponsorship-amount- {
    top: 3122px;
    left: 71px;
  }
  .at-fundsling-we,
  .div2,
  .sponsorship-amount-1,
  .sponsorship-amount-2 {
    position: absolute;
    top: 3129px;
    left: 551px;
    line-height: 28px;
    font-weight: 600;
  }
  .at-fundsling-we,
  .div2,
  .sponsorship-amount-2 {
    left: 1033px;
  }
  .at-fundsling-we,
  .div2 {
    top: 3122px;
    left: 279px;
  }
  .at-fundsling-we {
    top: 3354px;
    left: 86px;
    font-weight: 500;
    display: inline-block;
    width: 477px;
  }
  .oip-1-1 {
    position: absolute;
    top: 3322px;
    left: 761px;
    width: 160px;
    height: 81px;
    object-fit: cover;
  }
  .the-exposure-and {
    position: absolute;
    top: 3417px;
    left: 720px;
    line-height: 28px;
    display: inline-block;
    width: 291px;
  }
  .logo-tata-motors-2-icon {
    position: absolute;
    top: 3322px;
    left: 1116px;
    width: 136px;
    height: 81px;
    object-fit: cover;
  }
  .the-exposure-and1 {
    position: absolute;
    top: 3424px;
    left: 1105px;
    line-height: 28px;
    display: inline-block;
    width: 214px;
  }
  .desktop-4-child2 {
    position: absolute;
    top: 3652px;
    left: 0;
    background-color: #051728;
    width: 1440px;
    height: 418px;
  }
  .contact-us1 {
    position: absolute;
    top: 3672px;
    left: 71px;
    font-size: var(--font-size-17xl);
    line-height: 28px;
    font-weight: 600;
    color: var(--color-white);
  }
  .gmail-fundslingofficialgmail,
  .instagram-fundsling-official,
  .telegram-fundsling-official,
  .twitter-fundsling,
  .youtube-httpsyoutubecom {
    position: absolute;
    top: 3743px;
    left: 71px;
    font-size: var(--font-size-base);
    line-height: 28px;
    font-weight: 600;
    color: var(--color-white);
  }
  .instagram-fundsling-official,
  .telegram-fundsling-official,
  .twitter-fundsling,
  .youtube-httpsyoutubecom {
    top: 3779px;
  }
  .instagram-fundsling-official,
  .telegram-fundsling-official,
  .youtube-httpsyoutubecom {
    top: 3815px;
  }
  .instagram-fundsling-official,
  .telegram-fundsling-official {
    top: 3851px;
  }
  .telegram-fundsling-official {
    top: 3887px;
    left: 72px;
  }
  .new-instagram-logo-white-glyph-icon,
  .telegram-white-icon-1 {
    position: absolute;
    top: 4023px;
    left: 1246px;
    width: 34px;
    height: 34px;
    object-fit: cover;
  }
  .telegram-white-icon-1 {
    top: 4020px;
    left: 1180px;
    width: 39px;
    height: 39px;
  }
  .icons8-gmail-50-1,
  .images-1-icon,
  .youtube-app-white-icon-1 {
    position: absolute;
    top: 4025px;
    left: 1053px;
    width: 44px;
    height: 29px;
    object-fit: cover;
  }
  .icons8-gmail-50-1,
  .images-1-icon {
    top: 4023px;
    left: 1120px;
    width: 32px;
    height: 33px;
  }
  .icons8-gmail-50-1 {
    top: 4020px;
    left: 1297px;
    width: 46px;
    height: 38px;
  }
  .desktop-4 {
    width: 100%;
    position: relative;
    background-color: var(--color-gainsboro-100);
    height: 4070px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  